.div p {
    padding-bottom: 10px;
}

/* unvisited link */

p a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: rgb(47, 215, 224);
}

/* mouse over link */
a:hover {
    color: #e65c00;
}

/* selected link */
/* a:active {
    color: blue;
} */